.feature-section {
    position: relative;
    min-width: 320px;
    background-color: color(primary-blue);
    padding: 40px 0;
    @media screen and (min-width: 1200px) {
        padding: 167px 0 124px;
    }
}

.feature-section__title {
    position: relative;
    @include font-sett($size: 1.625rem, $weight: 500, $transform: uppercase);
    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
        font-size: 2.35rem;
        padding: 0 0 84px 35px;
        letter-spacing: 3px;
    }
}

.feature-section__list {
    @extend %section-list-sett;
}

.item-section {
    @extend %section-item-sett;
}

.decor {
    position: absolute;
    transform: translate(-50%, -30%);
    @include font-sett($family: font(RobotoCon-family), $size: 7.5rem, $color: color(decor-blue));
    @media screen and (min-width: 1200px) {
        font-size: 15.5rem;
        top: 134px;
    }
    &.--grey {
        color: color(secondary-light);
        transform: translate(-50%, -40%);
        @media screen and (min-width: 1200px) {
            transform: translate(-50%, -35%);
        }
    }
}

.item-section__des {
    position: relative;
    display: block;
    width: 134px;
    height: 134px;
    background-color: color(secondary-blue);
    border-radius: 50%;
    margin: 0 auto 20px;
}

.item-section__icon {
    position: absolute;
    width: 36px;
    height: 36px;
    fill: color(primary-light);
    @include absolute-centered();
}

.item-section__title {
    @include font-sett($weight: 500, $transform: uppercase);
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 24px;
        font-size: 1.125rem;
    }
}

.item-section__text {
    @include font-sett($color: color(secondary-light));
    @media screen and (min-width: 1200px) {
        font-size: 0.94rem;
        line-height: 1.6;
    }
}

.prove {
    width: 30px;
}