.team-section {
    position: relative;
    padding: 50px 0 40px;
    @media screen and (min-width: 1200px) {
        padding: 138px 0 124px;
    }
}

.team-section__title {
    position: relative;
    @include font-sett($size: 1.625rem, $weight: 500, $transform: uppercase, $color: color(primary-dark));
    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
        font-size: 2.35rem;
        margin-bottom: 126px;
    }
}

.team-section__text {
    @include font-sett($size: 1.2rem, $color: color(primary-dark));
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
        font-size: 1.875rem;
        margin-bottom: 65px;
        letter-spacing: 1.2px;
    }
}

.team-section__list {
    @extend %section-list-sett;
}

.team-section__item {
    position: relative;
    @extend %section-item-sett;
}

.team-section__img {
    @extend %response-img;
}

.team-content {
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    width: 216px;
    padding: 20px 38px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -34px;
    @media screen and (min-width: 1200px) {
        bottom: -44px;
    }
}

.team-content__title {
    @include font-sett($size: 1.25rem, $weight: 500, $transform: uppercase, $color: color(primary-blue));
    letter-spacing: 1.4px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 4px;
    }
}

.team-content__text {
    @include font-sett($size: 0.94rem, $height: 1.6, $color: color(primary-dark));
}