@mixin background-sett($img, $repeat: no-repeat, $pos: center, $size: cover){
    background-image: $img;
    background-repeat: $repeat;
    background-position: $pos;
    background-size: $size;
}

@mixin absolute-centered($top:50%, $left:50%, $transform: translate(-50%, -50%)){
    top: $top;
    left: $left;
    transform: $transform;
}

@mixin flex-pos($justify-content: space-between, $align-items: stretch) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin font-sett($family: font(Gothic-family), $size: 1rem, $weight: 400, $transform: unset, $height: 1.2, $color: color(primary-light)) {
    font-family: $family, sans-serif;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    line-height: $height;
    color: $color;
}