%akita-section-container-sett {
    @media screen and (max-width: 1199px) {
        box-sizing: border-box;
        padding-top: 40px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

%section-list-sett {
    @media screen and (min-width: 1200px) {
        @include flex-pos();
        flex-wrap: wrap;
        width: 1170px;
        margin: 0 auto;
    }
}

%section-item-sett {
    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    &.--mg {
        @media screen and (max-width: 1199px) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}

%response-img {
    display: block;
    width: 100%;
    height: auto;
}

%input-sett {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid color(primary-light);
    @include font-sett($size: 0.94rem);
    @media screen and (max-width: 1199px) {
        margin: 0 auto 20px;
    }
    &::-webkit-input-placeholder {
        @include font-sett($size: 0.94rem);
    }
}