$colors: (
    primary-blue: #11749e,
    primary-light: #f5f5f5,
    primary-dark: #222222,
    secondary-light: #d7d7d7,
    secondary-grey:#bbb8b8,
    secondary-blue: #2e85aa,
    decor-blue: #3c8daf
);

@function color($key) {
    @if map-has-key($map: $colors, $key: $key){
        @return map-get($map: $colors, $key: $key);
    }
    @return null;
}